*{
  padding: 0;
  margin:0;
  font-family: 'Poppins', sans-serif;
}
header{
  margin-top: 20px;
  margin-bottom: 70px;
}
header .left a{
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  font-weight: 600;
  border: 1px solid transparent;
  margin: 5px 8px;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  text-transform: uppercase;
}
header .left a:hover{
  color: white;
  background: linear-gradient(orange,tomato);
}
.container{
  padding: 0 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
h1{

  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: #575757;
}
h1 span{
  color: orange;
}
.helf-witdh{
  width: 50%;
}
.helf-witdh p{
  line-height: 1.2;
  margin-bottom: 2rem;
}
.helf-witdh img{
  width: 80%;
  padding: 5%;
  float: right;
}
.btn{
  background: linear-gradient(orange,tomato);
  padding: 0.8rem 2rem;
  border: 2px solid transparent;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.about{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.left img{
  width: 400px;

}
.flex-1{
  flex: 1;
}
.about img{
  padding: 130px;
}
.about p{
  margin-bottom: 3rem;
  line-height: 1.2;
}
.abt-banner{
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.flexiable-container{
display: flex;
}
.box-shadow{
width: 50%;
box-shadow: 10px 10px 20px gray;
margin-left: 5%;
margin-right: 5%;
padding: 5px;
border-radius: 10px;
}
h2{
  font-size: 2.6rem;
  text-align: center;
}
.h1-center{
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 4rem;
}
.box-shadow p{
 text-align: start;
}
.recipies p{
  text-align: center;
  margin-bottom: 3rem;

}
.box-shadow img{
  width: 430px;
  padding: 10px 5px;
}
.sing-btn{
  padding: 4px 15px;
  cursor: pointer;
  float: right;
  margin-left:900px;
  border: 2px solid transparent;
  background: white;
}
.sing-up-btn{
  padding: 4px 12px;
  cursor: pointer;
  margin-left: 15px;
  border: 2px solid transparent;
  background: linear-gradient(orange,tomato);
  color: white;
  border-radius: 8px;
}
.sing-btn:hover{
  background: linear-gradient(orange,tomato);
  border-radius: 8px;
  color: white;
}
h3{
  color: orange;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
h3{
  margin-top: 3rem;
}
.footer p{
  text-align: center;
  margin-bottom: 15rem;
  margin-top: 2.5rem;
  color: white;
}
.footer{
  background: #0b0d17;
 height: 320px;
 border: 2px solid transparent;
 position: center;
 margin-top: 14rem;
}
.about h1.heading{
  color: #707070;
  font-weight: 500;
}